.color1
{

background-color:red;	

}

.color2
{

background-color:blue;	

}

.color3
{

background-color:green;	

}

.color4
{

background-color:lime;	

}

.color5
{

background-color:yellow;	

}

.color6
{

background-color:gray;	

}

.foto1 .foto2 .foto3
{
	color:aqua;
	background-color: gray;
}





